@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lato&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    background-image:url(https://wallpaperaccess.com/full/3019585.jpg);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 20%);
    color: white;
    margin-bottom: 20px;
    padding: 20px;
}

#site-navigation {
    display: block;
}

#list-header {
    font-weight: bold;
    font-size: 18px;
}

#site-navigation a {
    text-decoration: none;
    font-size: 15px;
    display: block;
    transition: 0.3s;
    color: hsl(0, 0%, 100%);
}

#site-navigation a:hover {
    color: hsl(0, 0%, 80%);
}

h1 {
    font-weight: bolder;
    font-size: 40px;
}

h2 {
    font-weight:bold;
    font-size: 25px;
    text-align:center;
    margin-bottom: 25px;
    margin-top: 10px;
}

header > figure {
    border: solid 8px hsl(0, 0%, 0%);
}

figure, img {
    width: 150px;
    height: 125px;
}

.spinner{
    display: flex;
    justify-content: center;    
}

.spinner > img {
    width: 400px;
    height: auto;
}

.hidden{
    display: none;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border: ridge 5px hsl(0, 0%, 10%);
    background-color: hsl(0, 0%, 30%);
    color:hsl(0, 0%, 80%);
}

@media (max-width: 920px) {
    section {
        display:block;
    }
}

#landing-section {
    display: block;
    text-align: center;
}

#landing-section h2 {
    margin-top: 10px;
    font-size: 36px;
}

#landing-section > p {
    display: inline-block;
    text-align: justify;
    margin-top: 10px;
    font-size: 25px;
}

#landing-section a {
    display: inline;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
    color: hsl(0, 0%, 100%);
}

#landing-section a:hover {
    color: hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 0%);
}

.Remi-Winnie-Pics {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.Remi-Winnie-Pics > img {
    width: 33%;
    height: auto;
    border: ridge 5px hsl(0, 0%, 10%);
}

.Remi-Winnie-Pics > img + img {
    margin-left: 10px;
}


.breed-grid-container > p {
    margin-right: 20px;
}

.knowledge-test {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    width: 50%;
}

.knowledge-test > p {
    margin-bottom: 25px;
}

button {
    font-family: 'Comfortaa', cursive;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(0, 0%, 10%);
    color: white;
    border: outset 5px hsl(0, 0%, 0%);
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.5s;
}

button:hover {
    background-color: hsl(0, 0%, 5%);
    cursor: pointer;
}

.knowledge-test > button + button {
    margin-top: 10px;
}

@media (max-width: 920px) {
	.knowledge-test {
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
        height: 100%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
	}
}

.grid-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 45px;
    font-size: 12px;
}

@media (max-width: 920px) {
    .grid-images {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 20px;
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
    }
}

.grid-images > figure {
    text-align: center;
}

.grid-images > figure > img {
    border: groove 3px hsl(0, 0%, 0%);
}

.purpose-container {
    padding: 20px;
    padding-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.purpose-image > figure {
    display: inline;
    text-align: center;
}

.purpose-image > figure > img {
    border: groove 3px hsl(0, 0%, 0%);
    width: 300px;
    height: auto;
}

.purpose-image > figure > figcaption {
    font-size: 12px;
}

.purpose-question {
    display: grid;
}

.purpose-question > form {
    display: inline-grid;
    text-align: left;
}

.purpose-question > form > input{
    display: block;
}

.purpose-question > form > input:nth-child(5) {
    margin-top: 10px;
}

.purpose-question > input + label {
    display: inline-block;
}

#submit {
    font-family: 'Comfortaa', cursive;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: hsl(0, 0%, 10%);
    color: white;
    border: outset 5px hsl(0, 0%, 0%);
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.5s;
}

#submit:hover {
    background-color: hsl(0, 0%, 5%);
    cursor: pointer;
}

.new-quiz-question {
    margin-top: 10px;
}

#quiz-button {
    margin-top: 10px;
}

.search-form {
    padding: 10px;
}

.search-form > form {
    margin-top: 30px;
    margin-bottom: 30px;
}

.search-form > form > input {
    border: solid 5px hsl(0, 0%, 0%);
}