@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lato&display=swap');

body {
    font-family: 'Comfortaa', cursive;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 20%);
    color: white;
    margin-bottom: 20px;
    padding: 20px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

header > figure {
    border: solid 8px hsl(0, 0%, 0%);
}

figure, img {
    width: 105px;
    height: 75px;
}

.spinner{
    display: flex;
    justify-content: center;    
}

.spinner > img{
    width: 400px;
    height: auto;
}

.hidden{
    display: none;
}

.breed-grid-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.breed-grid-container > p {
    margin-right: 20px;
}

.grid-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 60px;
}

.grid-images > figure{
    text-align: center;
}